body
{
  background-color: rgb(25,25,25);
  color: white;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  margin-bottom: 100px;
}
.title
{
  font-size: 30px;
  font-weight: bold;
}
.score-div{
  margin-bottom: 70px;
}
.move-icon
{
  height: 50px;
}
.move-button
{
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.result
{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.score
{
  margin-top: 0;
}
.reset-div{
  margin-top: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset-score-button
{
  background-color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
}
.reset-score-button:hover{
  background-color: rgb(226, 225, 225);
}